.image-wrapper{
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 20px;
}
.image-card{
    width: 320px;
    height: 320px;
    background-color: blue;
    border-radius: 10px;
}
.image-card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}